#footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: var(--rps-margin-l);
  margin-bottom: var(--rps-margin-xl);
}

/*MEDIAS QUERIES*/
@media (max-width: 550px) {
  #footer {
    margin-bottom: var(--rps-margin-m);
  }
}

@media (max-width: 370px) {
  #footer {
    margin-top: var(--rps-margin-m);
  }
  #footer {
    margin-bottom: var(--rps-margin-m);
  }
}
